<footer class="site-footer">
    <div class="footer-main">
        <div class="container">
            <section>
                <p class="footer-title">
                    <a class="footer-anchor" href="#footerAnchor" id="footerAnchor" accesskey="Z" title="頁尾資訊區">:::</a>
                    複賽報名諮詢電話
                </p>
                <ul class="footer-contact">
                    <li class="footer-contact-item">
                        化學、資訊、地科複賽 相關問題
                        <p>新北市立新北高級中學設備組電話：
                            <a href="tel:+886228577326">(02)2857-7326 #203、208、263</a>
                        </p>
                    </li>
                    <li class="footer-contact-item">
                        物理、生物、數學複賽 相關問題
                        <p>新北市立新店高級中學設備組電話：
                            <a href="tel:+886222193700">(02)2219-3700 #508、509、522</a>
                        </p>
                    </li>
                    <li class="footer-contact-item">
                        系統操作問題
                        <p>辛太科技：
                            <a href="tel:+886227487499">(02)2748-7499</a>
                        </p>
                    </li>
                </ul>
            </section>

            <div class="footer-brand">
                <img src="img/logo/eduLogo.png" alt="新北市政府教育局">
                <p class="footer-brand-text">
                    <span class="fs-7">115年新北區</span><br>
                    <span class="fs-6">數理暨資訊學科能力競賽 - 複賽報名系統</span>
                </p>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p>Copyright ©2026 新北市政府教育局 數理暨資訊學科能力競賽．版權所有 ｜
                <a href="https://www.ntpc.gov.tw/ch/home.jsp?id=1104&parentpath=0,6" target="_blank" rel="noopener" title="著作權聲明 (另開新視窗)">著作權聲明</a> ｜
                <a href="https://service.ntpc.gov.tw/contact/Index.action" target="_blank" rel="noopener" title="意見信箱 (另開新視窗)">意見信箱</a>
            </p>
            <p>Design by <a href="https://www.synctek.com.tw/" target="_blank" rel="noopener" title="辛太科技網站 (另開新視窗)">辛太科技</a>　建議瀏覽器 Edge、Firefox 或 Chrome，建議瀏覽解析度為 1920 × 1080 以上</p>
        </div>
    </div>
</footer>
